&i2c1 {
	shtc3: shtc3@70 {
		compatible = "sensirion,shtcx";
		label = "SHTC3";
		reg = <0x70>;
		chip = "shtc3";
		measure-mode = "normal";
	};
};

/ {
	aliases {
		shtc3 = &shtc3;
	};

	vbatt {
		compatible = "voltage-divider";
		io-channels = <&adc 2>;
		output-ohms = <300000>;
		full-ohms = <(1200000 + 300000)>;
	};
};
