&i2c1 {
	shtc3: shtc3@70 {
		compatible = "sensirion,shtcx";
		label = "SHTC3";
		reg = <0x70>;
		chip = "shtc3";
		measure-mode = "normal";
	};
};

&quectel_bg9x {
	status = "disabled";
};

/ {
	aliases {
		shtc3 = &shtc3;
	};
};
