&i2c1 {
	shtc3: shtc3@70 {
		compatible = "sensirion,shtcx";
		label = "SHTC3";
		reg = <0x70>;
		chip = "shtc3";
		measure-mode = "normal";
	};
};

/ {
	aliases {
		shtc3 = &shtc3;
	};
};

&uart0 {
	mdm-power-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
	mdm-reset-gpios = <&gpio0 28 GPIO_ACTIVE_LOW>;
	mdm-dtr-gpios = <&gpio0 26 GPIO_ACTIVE_LOW>;
	mdm-wdisable-gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;
	mdm-status-gpios = <&gpio0 31 GPIO_ACTIVE_LOW>;
};
